
.container{
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1140px;
}

.flex{
  display: flex;
}

.flex-hspace{
  justify-content: space-between;
}
/* utils */
.flex-hcenter{
  justify-content: center;
}

.flex-hright{
  justify-content: flex-end;
}
.flex-vcenter{
  align-items: center;
}
.flex-vbottom{
  align-items: flex-end;
}

.flex-vspace{
  align-content: space-between;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-reverse{
  flex-direction: row-reverse;
}
.w60{
  width: 60%;
}
.w10{
  width: 10%;
}
.w12_5{
  width: 12.5%;
}
.w20{
  width: 20%;
}
.w25{
  width: 25%;
}
.w33{
  width: 33.33%;
}
.w30{
  width: 30%;
}
.w100{
  width: 100%;
}
header{
  height: 3.5rem;
}
header h1{
  padding: 0 3rem;
  margin: 0;
}

html {
  font-size: 14px;
  webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 670px) {
  html {
      font-size: calc(14px + 10 * ((100vw - 670px) / 1530)); } }
@media screen and (min-width: 2200px) {
    html { font-size: 24px; } 
}
body{
  font-size: inherit;
  font-weight: 300;
  font-family: "Open sans", sans-serif;
  color: #1c1c1c;
  background: #f5f5f5;
  line-height: 1.15;
}